body{
    background-color: rgb(235, 225, 233);
}
#result{
    height: 50px;
    width: 190px;
    margin: 15px auto;
    font-size: 40px;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}
#display{
    width: 190px;
    height: 88px;
    margin: 10px auto;
    text-align: right;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
#container{
    width: 220px;
    height: 440px;
    border: 1px solid rgb(166, 114, 206);
    margin: auto;
    margin-top: 100px;
    border-radius: 5px;
    box-shadow: 0px 0px 1px rgb(199, 133, 199);
    background-color: rgb(245, 245, 245);
}
button{
    display: flexbox;
    background-color: rgb(8, 20, 63);
    height: 50px;
    width: 52px;
    outline: none;
    border: none;
    margin: 1.5px;
    padding: 0%;
    color: white;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    transition: .3s;
}
button:hover{
    color: rgb(166, 114, 206);
    opacity: 80%;
}
.violet{
    background-color: rgb(166, 114, 206);
}
.violet:hover{
    color: rgb(8, 20, 63);
}